<div class="card">
  <div class="card-body">
    <h3 class="titulo mb-3">Crear Tarjeta</h3>
    <form [formGroup]="form"
          (ngSubmit)="crearTarjeta()">
      <div  *ngIf="alertError"
            class="alert alert-danger"
            role="alert">
            Uno o mas campos son incorrectos
      </div>
      <div class="input-group input-group-lg mb-3">
        <span class="input-group-text">
          <fa-icon  [icon]="faUserCircle"
                    [class.green-icon]="form.get('titular')?.valid"
                    [class.red-icon]="validadorError('titular')">
          </fa-icon>
        </span>
        <input  formControlName="titular"
                type="text"
                class="form-control"
                placeholder="Titular">
      </div>
      <div class="input-group input-group-lg mb-3">
        <span class="input-group-text">
          <fa-icon  [icon]="faCreditCard"
                    [class.green-icon]="form.get('numeroTarjeta')?.valid"
                    [class.red-icon]="validadorError('numeroTarjeta')">
          </fa-icon>
        </span>
        <input  formControlName="numeroTarjeta"
                maxlength="16"
                type="text"
                class="form-control"
                placeholder="Numero de Tarjeta">
      </div>
      <div class="row">

        <div class="col-lg-7">
          <div class="input-group input-group-lg mb-3">
            <span class="input-group-text">
              <fa-icon  [icon]="faCalendarAlt"
                        [class.green-icon]="form.get('fechaExpiracion')?.valid"
                        [class.red-icon]="validadorError('fechaExpiracion')">
              </fa-icon>
            </span>
            <input  formControlName="fechaExpiracion"
                    type="text"
                    maxlength="5"
                    class="form-control"
                    placeholder="MM/YY">
          </div>
        </div>
        <div class="col-lg-5">
          <div class="input-group input-group-lg mb-3">
            <span class="input-group-text">
              <fa-icon  [icon]="faKey"
                        [class.green-icon]="form.get('cvv')?.valid"
                        [class.red-icon]="validadorError('cvv')">
              </fa-icon>
            </span>
            <input  formControlName="cvv"
                    type="password"
                    maxlength="3"
                    class="form-control"
                    placeholder="CVV">
          </div>
        </div>
      </div>
      <div class="d-grid gap-2">
        <button class="btn btn-lg btn-primary btn-block" type="submit">
        <fa-icon [icon]="faDatabase"></fa-icon>&nbsp;Aceptar</button>
      </div>
    </form>
  </div>
</div>
